h2,h1{
    text-align: center;

}

h3{
    color: rgb(33, 33, 120);
    margin: 20px;
}
pre{
    color: cadetblue;
    margin: 20px;
}
p{
font-size: large;
font-weight: 800;
color: brown;
margin: 20px;
}